@using Model
@model IEnumerable<VideoCategory>


@foreach (var cat in Model)
{
    <li class="video-nav">@Html.ActionLink(cat.Name, "Genre","Video", new { area="Admin",categoryId = cat.Id, categoryName = cat.Name },null)</li>
}