@using StudyOnline.Models
@using StudyOnline.Infrastructure

@model IEnumerable<RecordStatistic>
<div>
    <div id="statistic-table">
       @{Html.RenderPartial("_StatisticTable", Model);}
    </div>
    @{
        PagingInfo pagingInfo = (PagingInfo)ViewBag.PagingInfo;
        Func<int, string> pageUrl = (Func<int, string>)ViewBag.PageUrl;
    }
    <div class="pagination pagination-centered" id="ajax-paging">
        @Html.AjaxPageLinks(pagingInfo, pageUrl, 3, "statistic-table")
    </div>
</div>