body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/* 自定义
-----------------------------------------------------------*/
LI{ list-style:none;}

/*FORM.inline{ display:inline;}

.form-submit-buttons-container{text-align:center; margin:5px 0 0 0;}
/* 页面分页
-----------------------------------------------------------*/
.pager{}
.pager a{ display:block; padding:0.4em; float:left ; text-decoration:none; cursor:pointer; border:1px solid blue;}
/*.pager A:hover{ background:silver;}
.pager DIV#pagination-div-container{ width:73px; height:30px; overflow:hidden;float:left; position:relative;}
.pager UL#pagination-ul-container{ height:30px; position:absolute; left:0px;margin:0px;}
.pager UL#pagination-ul-container LI{ display:block; float:left;height:30px;}
.pager UL#pagination-ul-container LI A{ padding:0.4em 0; width:25px; text-align:center;}*/

.pageIndex_Selected
{
    background-color:red;
}